extends ./layout.pug
block contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
  h1 Bienvenido Chris 
  a(href="/login" class="btn btn-info blue") Iniciar sesión
  br
  br
  a(href="/signup" class="btn btn-info blue") Registrarse



    
    
