extends ./layout.pug
block contenido
  h1 Bienvenido Chris 
  a(href="/login" class="btn btn-info blue") Iniciar sesión
  br
  br
  a(href="/signup" class="btn btn-info blue") Registrarse



    
    
